#window {
    background-color: rgba(41, 45, 62, 0.9);
}

#window, #input {
    font-family: monospace;
    font-size: 20px;
}

#img {
    padding-left: 2px;
    padding-right: 5px;
}

#outer-box {
    padding: 4px;
    border: 2px solid #82aaff;
    border-radius: 5px;
}

#input {
    min-height: 40px;
    margin-bottom: 5px;
}
