* {
	font-size: 18px;
	font-family: 'Iosevka Term';
}

window#waybar {
	background: rgba(41, 45, 62, 0.9);
	border-radius: 0;
	color: #fdf6e3;
}

#workspaces button {
	padding: 0 2px;
	color: #fdf6e3;
	border-bottom: 2px solid rgba(0, 0, 0, 0.0);
}
#workspaces button.active {
	background-color: #5b4669;
	border-bottom: 2px solid #CF9FED;
	border-radius: 0px;
	padding: 0 2px;
}
#workspaces button:hover {
	color: #292D3E;
	background-color: #CF9FED;
	border-radius: 0px;
	padding: 0 2px;
}

#clock,
#pulseaudio,
#cpu,
#battery,
#network {
	padding-top: 2px;
	margin-left: 0.3em;
	margin-right: 0.3em;
	border-bottom: 2px solid #CF9FED;
}
