* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.bar {
  font-family: monospace;
  font-size: 22px;
  color: #fefefe;
}

.inner_bar {
  background: rgba(41, 45, 62, 0.9);
  //margin-top: 10px;
  //margin-left: 10px;
  //margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  //border: 2px solid #262832;
  //border-radius: 9px;
}

.sideleft > *, .middle > *, .sideright > * {
  margin-left: 5px;
  margin-right: 5px;
}

.metric scale trough highlight {
  all: unset;
  background-color: #CF9FED;
  border-radius: 50px;
  min-width: 5px;
  color: #000000;
}
.metric scale.red trough highlight {
  background-color: #f07178;
}
.metric scale trough {
  all: unset;
  background-color: #505663;
  min-height: 6px;
  min-width: 40px;
  border-radius: 50px;
}

.label {
  padding-left: 0px;
  padding-right: 10px;
  font-size: 20px;
}

.workspaces button {
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.0);
}

.workspaces button.active {
  background-color: #5b4669;
  border-bottom: 2px solid #CF9FED;
  border-radius: 0px;
}

.workspaces button.urgent {
  background-color: #bd2c40;
  border-bottom: 2px solid #bd2c40;
  border-radius: 0px;
}
.workspaces button.urgent:hover {
  background-color: #781c28;
  border-bottom: 2px solid #781c28;
  border-radius: 0px;
  color: #fefefe;
}

.workspaces button:hover {
  color: #292D3E;
  background-color: #CF9FED;
  border-radius: 0px;
}

.time {
  border-bottom: 2px solid #CF9FED;
}

.wifi {
  border-bottom: 2px solid #CF9FED;
}

tooltip {
  background: rgba(41, 45, 62, 0.9);
  font-family: monospace;
  font-size: 20px;
  border-radius: 5px;
}
